@import "settings";
// @import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
  "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
  "foundation/components/type";
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$bgColor: rgb(239, 239, 237);
$border: 80px;
// $borderSmall: 16px;
// $borderMedium: 40px;

@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src: url("ITCAvantGardeStd-Bold.woff") format("woff"), url("ITCAvantGardeStd-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Gotham-Light';
  src: url("Gotham-Light.otf") format("truetype");
}

body {
	background-color: $bgColor;
	font-family: "Gotham-Light", Helvetica, Sans-serif;
}
h1, h2 {
	font-family: "ITCAvantGardeStd-Bold", Helvetica, Sans-serif;
}
img {   
	width: 100%;
}

video {
	width: 100%;
	height: auto;
}

.row {
	margin: 0;
	max-width: initial;
}

.borderTop, .borderBottom {
	display: block;
	width: 100%;
	top: 0;
	position: absolute;
	border-bottom: $border solid $bgColor;
	// border-bottom: $border solid yellow;
	z-index: 1;
}
.borderBottom {
	bottom: 0;
}

.linkStyle {
	font-size: 2em;
	color: black;
	text-decoration: none;
}
#contactContent p {
	line-height: 2em;
}

#mainPage {
	overflow: scroll;
}
	#github {
		position: absolute;
		bottom: 20px;
		right: $border;
		width: 32px;
		height: 32px;
		background-image: url(github.svg);
		background-size: 32px 32px;
		z-index: 200;
	}
	#gallery {
		margin: 0;
		padding-top: $border;
		padding-left: $border;
	}

	#infos {
		padding-top: $border;
		margin-right: $border;
		position: fixed;
		right: 0;
		z-index: 100;
	}
		#infos article h1 {
			font-size: 3em;
		}
		#infos article h2 {
			display: block;
			color: #333;
			font-size: 2em;
			margin-top: -54px;
			margin-bottom: -10px;
		}
			#infos article h2 span {
				text-transform: uppercase;
				font-size: 3em;
				margin-left: -385px;

			}
		#infos article p {
   			line-height: 1.8em;
		}
		#infos ul {
			margin-left: 45px; //centrer le bouton
		}
			#infos ul li {
				list-style: none;
				float: left;
			}
				#infos ul li a {
					margin-left: -35px;
				}
				#infos ul li .bgArrow {
					display: block;
					width: 50px;
					height: 50px;
					border: solid #c6c6c6 4px;
					border-radius: 50%;
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					transition: all .3s linear;
					-webkit-transition: all .3s linear;
					-moz-transition: all .3s linear;
				}
				#infos ul li .bgArrow:hover {
					border-radius: 0%;
					cursor: pointer;
					transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
				}

#detailsPage #detailsContent {
	padding: 0;
	padding-left: 15px;
	margin: 0;
	margin-right: $border;
	float: right;
}






















