@import "settings";
// @import "foundation";

// Or selectively include components
//@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
@import  "foundation/components/grid";
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
@import  "foundation/components/type";
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$bgColor: rgb(239, 239, 237);
$border: 80px;
$timing: .6s;
// $borderSmall: 16px;
// $borderMedium: 40px;

@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src: url("ITCAvantGardeStd-Bold.woff") format("woff"), url("ITCAvantGardeStd-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Gotham-Light';
  src: url("Gotham-Light.otf") format("truetype");
}

body {
	background-color: $bgColor;
	font-family: "Gotham-Light", Helvetica, Sans-serif;
}
.fp-enabled body {
	padding: 80px;

	@media #{$small-only} {
		padding: 0px;
	}
}
h1, h2 {
	font-family: "ITCAvantGardeStd-Bold", Helvetica, Sans-serif;
}
img {   
	width: 100%;
}

video {
	width: 100%;
	height: auto;
}

.row {
	margin: 0;
	max-width: initial;
}

// .borderTop, .borderBottom {
// 	display: block;
// 	width: 100%;
// 	position: absolute;
// 	height: $border;
// 	background-color: $bgColor;
// 	// z-index: 1;
// }
// .borderTop {
// 	top: 0;
// }

// .borderBottom {
// 	bottom: 0;
// }

// .linkStyle {
// 	font-size: 2em;
// 	color: #bbb;
// 	text-decoration: none;
// 	background: none;
// 	border: none;
// 	margin-top: 2px;
// }
// .linkStyle.toggleGo {
// 	margin-left: -39px;
// }
// .linkStyle.toggleBack {
// 	margin-left: -41px;
// }
#contactContent {
	padding: $border 10vw;

	p {
		line-height: 2em;
	}

	@media #{$small-only} {
		padding: 10px;

		p {
			line-height: 1.8em;
			font-size: .75rem;
			margin-bottom: 0;
		}
	}
}
 
#mainPage {
	// overflow: scroll;
}
	#github, #contactIcon {
		position: absolute;
		bottom: 6px;
		right: $border;
		// width: 32px;
		// height: 32px;
		font-family: font-awesome;
		font-size: 38px;
		// background-image: url(github.svg);
		// background-size: 32px 32px;
		z-index: 200;
		color: #000;
	}
	#contactIcon {
		width: 32px;
		height: 32px;
		bottom: 20px;
		right: $border+32px+16px;
		border-radius: 50%;
		// background-image: url(email.svg); 
		background-size: 32px 32px;
		background-color: #000;
		cursor: pointer;
	}
	#contactIcon i {
		color: $bgColor;
		font-size: 30px;
		position: absolute;
		padding: 4px 0 0 4px;
	}

#detailsPage #detailsContent {
	padding: 0;
	padding-left: 15px;
	margin: 0;
	margin-right: $border;
	float: right;
}

#detailsPage #detailsContent div.single-item {
	width: 100%;
	height: 100%;
	position: absolute;
}

.slick-prev:before, .slick-next:before {
	color: #c6c6c6;
}

#fullpage .section figure img {
	padding: 0;
}

#contactPage .goForward {
	float: right;
}

hr {
	@media #{$small-only} {
		margin: 0 0 7px 0;
	}
}

.projectCover {
	margin-top: 25px;

	@media #{$small-only} {
		margin-top: 0;
	}
}
.projectGallery {
	margin-top: 15px;
}

.projectDetails h2, .projectAbstract h2 {
	display: block;
	color: #333;
	// font-size: 2em;
	// top: $border;
	margin-top: -12px;
	@media #{$small-only} {
		margin-bottom: 0
	}
	// margin-bottom: -10px;
}

.projectDetails, 
.projectAbstract {

	h2 {
		span{
			font-size: 1.6em;

			@media #{$small-only} {
				font-size: 1.05em;
			}
		}
	}
}

.projectAbstract {
	position: fixed;
	opacity: 0;
	top: $border;
	right: 80px;
	z-index: -10;
	transition: right $timing ease,
				opacity $timing ease-out;

		@media #{$small-only} {
			top: 50vh;
			right: 0;
			// pointer-events:none;

			p {
				font-size: .8rem;
				margin-bottom: .2rem;
			}
		}
}
.projectAbstract.detailed {
	right: 66.7vw;
}
.projectAbstract.active {
	opacity: 1;
	z-index: 10;
}
.projectAbstract .goForward {
	// font-size: 1.2rem;
	opacity: 1;
	float: right;
	transition: opacity $timing ease-out;
}
.projectAbstract.detailed .goForward {
	opacity: 0;
}
// .projectAbstract h2 {
// 	margin-top: 68px !important;
// }
.projectAbstract h2>span {
	visibility: hidden;
	white-space: nowrap;
	// margin-top: 68px !important;
}
.projectAbstract strong {
		font-size: 1rem;
		background-color: yellow;
	}


// .projectDetails, .projectGallery {
// 	top: $border;
// }
// .projectDetails h2, .projectAbstract h2 {
// 	display: block;
// 	color: #333;
// 	// font-size: 2em;
// 	// top: $border;
// 	margin-top: -12px;
// 	// margin-bottom: -10px;
// }
// .projectDetails h2 span, .projectAbstract h2 span {
// 	font-size: 1.6em;

// 	@media #{$small-only} {
// 		font-size: 1.2em;
// 	}
// }
.projectDetails {
	position: absolute;
	z-index: 20;
	@media #{$small-only} {
		top: 50vh;
		z-index: 10;

		p {
			font-size: .8rem;
			margin-bottom: .2rem;
		}
	}
}
// .projectDetails a {
// 	color: #222;
// 	pointer-events: none;
// 	cursor: default;
// }
.projectDetails h2 span {
	// text-transform: uppercase;
	// font-size: 1.8em;
	margin-left: -80vw;
	// transition: margin-left $timing ease;
	transition: margin-left ($timing) ease-in-out;

	@media #{$small-only} {
		margin-left: -100vw;
	}
}
.projectDetails.detailed {
	// z-index: 40;
}
.projectDetails.detailed h2 span {
	margin-left: 0vw;
}

.projectAbstract p, .projectAbstract hr {
	opacity: 1;
	transition: opacity ($timing) ease-out;
}
.projectAbstract.detailed p, .projectAbstract.detailed hr {
	opacity: 0;
	transition: opacity ($timing) ease-out;
}
.projectDetails p, .projectDetails hr {
	opacity: 0;
	transition: opacity ($timing) ease-out;
}
.projectDetails.detailed p, .projectDetails.detailed hr {
	opacity: 1;
	transition: opacity ($timing) ease-out;
}
.projectGallery {
	@media #{$small-up} {
		z-index: 10;
	}
}

.slick-prev {
	left: 40%;
}
.slick-next {
	right: 40%;
}
.slick-prev, .slick-next {
	top: 110%;
	z-index: 20;
}








