aside#contactPage.slide.row
	#contactContent.small-6.small-push-3.columns.hide
		h2 About
		p I am a 25-year-old and french web developer with a training in computer graphics in 
			a(href="http://www.infographie-sup.be/") Albert Jacquard College
			|  in Namur, Belgium.
		p I like generate graphics, animate or script things. I have played different langage such as : HTML5, CSS3, SASS, JQUERY, AJAX, AS3, PHP, MYSQL, JAVA and some framework likes Foundation, Wordpress. Recently I've played with NodeJS and GIT. More informations on my 
			a(href="stylesheets/cv.pdf") resume
			| .
		p The Web is my passion and I love finding the best way to accomplish a task and learning always more.
		p You can contact me by 
			a(href="mailto:arnaud.pigne@gmail.com") e-mail
			| , 
			a(href="#") (+32) 475 / 95 32 05
			| .