aside#contactPage.slide.row
	#contactContent.small-6.small-push-3.columns.hide
		h2 About
		p I am a 27-years-old and french web developer with a training in computer graphics in 
			a(href="http://www.infographie-sup.be/") Albert Jacquard College
			|  in Namur, Belgium. And more than 1 year of experience at 
			a(href="http://lamaisonecologique.be/") La Maison Ecologique
			| .
		p I like generate graphics, animate or script things. I have played different langage such as : HTML5, CSS3, SASS, JQUERY, AJAX, AS3, PHP, MYSQL, JAVA and some framework likes Boostrap or Foundation (CSS), Prestashop (e-shop) and Wordpress. I've played with NodeJS and GIT, and recently with Angular and Meteor. More informations on my 
			a(href="cv.pdf") resume
			| .
		p The Web is my passion and I love finding the best way to accomplish a task and learning always more.
		p You can contact me by 
			a(href="mailto:arnaud.pigne@gmail.com") e-mail
			| , 
			a(href="#") (+32) 475 / 95 32 05
			| .