aside#contactPage.slide(data-anchor="contact")
	#contactContent
		h2 About
		p I am a 28-years-old and french web developer with a training in computer graphics in 
			a(href="http://www.infographie-sup.be/" target="_blank" rel="nofollow") Albert Jacquard College
			|  in Namur, Belgium. And more than 2 year of experience belong 
			a(href="http://lamaisonecologique.be/" target="_blank" rel="nofollow") La Maison Ecologique
			|  and 
			a(href="http://produweb.be/" target="_blank" rel="nofollow") Produweb
			| .
		p I like generate graphics, animate or script things. I have played different langage such as : HTML5, CSS3, SASS/LESS, JQUERY, AJAX, AS3, PHP, MYSQL, NOSQL, JSON, JAVA and some framework likes Boostrap or Foundation (CSS), Prestashop (e-shop) and Wordpress. I've played with NodeJS and GIT, and I have some interest in Angular, Meteor, and OpenFrameworks. More informations on my 
			a(href="cv.pdf") resume
			| .
		p Web is my technological's passion and I love finding beautiful and minimalistc way to accomplish task. I really want to inject some emotions, tangible aspect, concret things to make web a non-linear experience. Like in nature, by the way.
		p Feel free to contact me by 
			a(href="mailto:arnaud.pigne@gmail.com" rel="nofollow") e-mail
			|  or by 
			a(href="tel:+32475953205" rel="nofollow") phone
			| .
		a(href="#home/welcome").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")