main#mainPage.slide.row.active
	span.borderTop
	span.borderBottom
	a#github(href="https://github.com/stlejvil/portfolio")
	figure#gallery.small-8.columns
		img(id="arnaudImg" src="stylesheets/ARNAUD.jpg" alt="Arnaud")
		img(id="aikuImg" src="stylesheets/aiku_l.jpg" alt="Aïku animation")
		img(id="oldPortfolioImg" src="stylesheets/portfolioV1_l.jpg" alt="Old portfolio")
		img(id="aikiImg" src="stylesheets/aiki_l.jpg" alt="Aïki advertising")
		img(id="musivationImg" src="stylesheets/android_l.jpg" alt="Musivation android app")
		img(id="bohrenImg" src="stylesheets/bohren_l.jpg" alt="Bohren's website")
		img(id="whourkrImg" src="stylesheets/whourkr_l.jpg" alt="Whourkr's website")
	#infos.small-3.columns
		article#arnaudInfo
			h1 Welcome
			hr
			p My name is Arnaud Pigné, I'm a junior and devoted Front End Developer.
			p I like generate graphics, or animate things with a bit of code.
			p If you are interested, you can 
				a(href="#" data-index="1").toSlide contact me
				| , or pursue below to see some of my works.
			hr
		article#aikuInfo.hide
			h2: span Aïku
			hr
			p It's a borderline handmade animation about this aïku : Les lèvres mouillées du jus de pêche blanche, je ris.
			p.hide Typography, drawing, animation, idea, all made by myself (except music). And I'm a bit proud of it ! (
				a(href="projects/psychopart/StomotypeMakingOf.pdf") Making Of
				| . "Les lèvres mouillées du jus de pêche blanche, je ris."
			hr
		article#oldPortfolioInfo.hide
			h2: span Portfolio
			hr
			p That's my first version of this Portfolio. Made during school years in AS3 with a glitch aesthetics which you can play with it.
			p.hide Old Portfolio in AS3, with glitch aspect. You can play with it. I really like to display works using background. You can get an overview of previous work too. (
				a(href="projects/psychopart/CharteGraphiqueTFA.pdf") Graphic Charter
				| ).
			hr
		article#aikiInfo.hide
			h2: span Aïki
			hr
			p It's an animation for Aïki pasta, totally made in AS3 script (with graphic elements).
			p.hide I made this for a real job, for an Aïki's event. It totally animated in AS3 script. Using Flash CS5 IDE and Tweenings from Greensock.
			hr
		article#musivationInfo.hide
			h2: span Musivation
			hr
			p It's an Android application about fitness motivation. Coming Soon on Android Market.
			p.hide I made this application to boost myself in fitness and android development. The real difficulty is to transform a mobile device into a pedometer without using GPS to help. I'm currently testing it, but an alpha version is already available 
				a(href="projects/musivation/Musivation.apk.zip") here
				| .
			hr
		article#bohrenInfo.hide
			h2: span Bohren
			hr
			p Bohren und der Club of Gore's website is fully made using EM units rather than PX.
			p.hide It's my first experiment with EM units. Only index, gore story and disgoregraphy pages are available. (
				a(href="projects/bohren/BohrenGraphicCharter.pdf") Graphic Charter
				| ).
			hr
		article#whourkrInfo.hide
			h2: span Whourkr
			hr
			p Whourkr's website made using grid system framework, HTML5 and CSS3.
			p.hide It's a website made in a traditional way using a 960 grid system framework, HTML5 and CSS3 animation.
			hr
		ul.hide
			li: a(href="#detailsPage" data-index="3").bgArrow.active.toSlide
			li: a(href="#").linkStyle.toggleGo &gt;
			li: a(href="#").linkStyle.toggleBack.hide &lt;