main#mainPage.slide.row.active
	span.borderTop
	figure#gallery.small-8.columns
		img(id="arnaudImg" src="stylesheets/ARNAUD.jpg" alt="Arnaud")
		img(id="pannopailleImg" src="stylesheets/pannopaille_l.jpg" alt="Pannopaille")
		img(id="lmeStaticImg" src="stylesheets/lmeStatic_l.png" alt="La Maison Ecologique")
		img(id="lmeShopImg" src="stylesheets/lmeShop_l.png" alt="La Maison Ecologique - Shop")
		img(id="lmeNewslettersImg" src="stylesheets/lmeNewsletters_l.jpg" alt="La Maison Ecologique - Newsletters")
		img(id="lmeContestImg" src="stylesheets/lmeContest_l.jpg" alt="La Maison Ecologique - Contest")
		img(id="lmeTruckImg" src="stylesheets/lmeTruck_l.jpg" alt="La Maison Ecologique - Truck")
		img(id="lmeBannersImg" src="stylesheets/lmeBanners_l.jpg" alt="La Maison Ecologique - Banners")
		img(id="aikuImg" src="stylesheets/aiku_l.jpg" alt="Aïku animation")
		img(id="oldPortfolioImg" src="stylesheets/portfolioV1_l.jpg" alt="Old portfolio")
		img(id="aikiImg" src="stylesheets/aiki_l.jpg" alt="Aïki advertising")
		img(id="musivationImg" src="stylesheets/android_l.jpg" alt="Musivation android app")
		img(id="bohrenImg" src="stylesheets/bohren_l.jpg" alt="Bohren's website")
		img(id="whourkrImg" src="stylesheets/whourkr_l.jpg" alt="Whourkr's website")
	#infos.small-3.columns
		article#arnaudInfo
			h1 Welcome
			hr
			p My name is Arnaud Pigné, I'm a devoted Front End Developer.
			p I like generate graphics, or animate things with a bit of code.
			p If you are interested, you can 
				a(href="#") contact me
				| , or pursue below to see some of my works.
			hr
		article#pannopailleInfo.hide
			h2: span Pannopaille
			hr
			p It's a Wordpress website made to present Pannopaille's product (a straw insulation panel, flexible, and easy to work with).
			p.hide 
				a(href="http://pannopaille.be") Pannopaille.be
				|  is one page Wordpress website with a theme made from scratch by me. There is 3D representation of Pannopaille's product which you can turning around with mouse. A google map (google map API) which is a plugin that I've made. It allows client to add markers and infos from is back-office with specific fields that's is easily understand to promote his product among workers and distributors.
			hr
		article#lmeStaticInfo.hide
			h2: span La Maison Ecologique
			hr
			p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for 
				strong
					a(href="http://lamaisonecologique.be") lamaisonecologique.be
				| .
			p.hide I've made some enhancement for 
				a(href="http://lamaisonecologique.be") lamaisonecologique.be
				| . Events and animations really improve users experience. I've also added 2 pages 
				a(href="http://lamaisonecologique.be/products") Products
				|  and 
				a(href="http://lamaisonecologique.be/formations") Formations
				|  with auto updated tree-maps as sidebar navigation (there is a loop with facebook to display formations ! ). I've work a lot to display formations in a synthetic/minimalist way.
			hr
		article#lmeShopInfo.hide
			h2: span Shop (LME)
			hr
			p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for 
				strong
					a(href="http://shop.lamaisonecologique.be") shop.lamaisonecologique.be
				| .
			p.hide
				a(href="http://shop.lamaisonecologique.be") shop.lamaisonecologique.be
				| . I made my teeth with Prestashop on this project. Front-job like displaying and redesigning. Back-end with 3 modules (that I've created specificly for them) : AskAquote (payment module with conditions, forms, validation), BlockcartAccessories (display accessories of product on cart with settings), Substitutes (display message when product is out of stock and suggest a product of replacement, or simply make redirection).
			hr
		article#lmeNewslettersInfo.hide
			h2: span Newsletters (LME)
			hr
			p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for their 
				strong newsletters
				| .
			p.hide Newsletters was a long design process. And my boss want to keep it short, so we conclude with a template finely tune. Newsletter was birth in a simple process. First, images/thumbnails was made in Photoshop. Second, pics are injected to html. Third, mixing was deploy in mailchimp.
			hr
		article#lmeContestInfo.hide
			h2: span Contest (LME)
			hr
			p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for their 
				strong Facebook contest
				| .
			p.hide It was a new experimentation for me. I've created this project from scratch. From my mind, to its distribution (also in my charge). Lots of stuff, long process. Folding was specificly studie to suit the already printed triptic, display clearly information, straight forward message, with visually attratice design. Back side you can see an awesome Qr-code made with lamaisonecologique's logo. That's was the coolest part.
			hr
		article#lmeTruckInfo.hide
			h2: span Truck (LME)
			hr
			p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for their 
				strong truck lettering
				| .
			p.hide Lettering for their truck, was a nice project with esthetic laws tested. It was a success, message cleary understandable. Keep simple.
			hr
		article#lmeBannersInfo.hide
			h2: span Banners (LME)
			hr
			p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for their 
				strong banners
				| .
			p.hide Just plain ol' banners for their e-shop promotions/events.
			hr
		article#aikuInfo.hide
			h2: span Aïku
			hr
			p It's a borderline handmade 
				strong animation
				|  about this aïku : Les lèvres mouillées du jus de pêche blanche, je ris.
			p.hide Typography, drawing, animation, idea, all made by myself (except music). And I'm a bit proud of it ! (
				a(href="projects/oldPortfolio/psychopart/StomotypeMakingOf.pdf") Making Of
				| ). "Les lèvres mouillées du jus de pêche blanche, je ris."
			hr
		article#oldPortfolioInfo.hide
			h2: span Portfolio
			hr
			p It's my 
				strong portfolioV1.0
				| . Made during school years in AS3 with a glitch aesthetics which you can play with it.
			p.hide Old Portfolio in AS3, with glitch aspect. You can play with it. I really like to display works using background. You can get an overview of previous work too. (
				a(href="projects/oldPortfolio/psychopart/CharteGraphiqueTFA.pdf") Graphic Charter
				| ).
			hr
		article#aikiInfo.hide
			h2: span Aïki
			hr
			p It's an 
				strong animation
				|  for Aïki pasta, totally made in AS3 script (with graphic elements).
			p.hide I made this for a real job, for an Aïki's event. It totally animated in AS3 script. Using Flash CS5 IDE and Tweenings from Greensock.
			hr
		article#musivationInfo.hide
			h2: span Musivation
			hr
			p It's an 
				strong Android app
				|  about fitness motivation. Coming Soon on Android Market.
			p.hide I made this application to boost myself in fitness and android development. The real difficulty is to transform a mobile device into a pedometer without using GPS to help. I'm currently testing it, but an alpha version is already available 
				a(href="projects/musivation/Musivation.apk.zip") here
				| .
			hr
		article#bohrenInfo.hide
			h2: span Bohren
			hr
			p 
				strong Bohren und der Club of Gore's website
				|  is fully made using EM units rather than PX.
			p.hide It's my first experiment with EM units. Only index, gore story and disgoregraphy pages are available. (
				a(href="projects/bohren/BohrenGraphicCharter.pdf") Graphic Charter
				| ).
			hr
		article#whourkrInfo.hide
			h2: span Whourkr
			hr
			p 
				strong Whourkr's website
				|  made using grid system framework, HTML5 and CSS3.
			p.hide It's a website made in a traditional way using a 960 grid system framework, HTML5 and CSS3 animation.
			hr
		ul.hide
			li: button.bgArrow.active
			li: button.linkStyle.toggleGo &gt;
			li: button.linkStyle.toggleBack.hide &lt;
	span#contactIcon
		i.fa.fa-user
	a#github(href="https://github.com/stlejvil/portfolio")
		i.fa.fa-github
	span.borderBottom