figure#mainPage.projectCover.slide.row.active(data-anchor='welcome')
	img.medium-6.large-8.columns(id="arnaudImg" src="stylesheets/ARNAUD.jpg" alt="Arnaud")
#homeInfo.projectAbstract.medium-4.large-3.columns.active
	h1 Welcome
	hr
	p My name is Arnaud Pigné, I'm a devoted Front End Developer.
	p I like generate graphics, or animate things with a bit of code.
	p If you are interested, you can 
		a(href="#home/contact") contact me
		| , or pursue below to see some most recent works.
	p Scroll down, or use your arrows to navigate.
	hr