.section(data-anchor='superfield')
	figure.projectCover.slide.row
		a(href="#superfield/details")
			img.medium-6.large-8.columns(id="superfieldImg" data-src="stylesheets/superfield_l.jpg" alt="Superfield")
	#superfieldInfo.projectAbstract.medium-4.large-3.columns
		h2: span Superfield
		hr
		p It's a 
			strong Prestashop
			|  made to present Superfield's products (Fashion, clothing, sportwear).
		hr
		a(href="#superfield/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#superfieldDetails.projectDetails.small-6.medium-2.columns
			h2: span Superfield
			hr
			p 
				a(href="http://superfield.be") Superfield.be
				|  is a Prestashop website made to display their current collection (you cannot buy for now). The choosen theme really enhance clothes in a modern way. For each category, there is a landscape pic, creating some feelings and scheme around their branding. There is also 3D view of each product where clothes are worn by plastic mannequin (unfortunatly for now).
			hr
			a(href="#superfield/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#superfieldGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/superfield/superfield01.jpg" alt="Superfield's website")
			img(data-src="projects/superfield/superfield02.jpg" alt="Superfield's website")
			img(data-src="projects/superfield/superfield03.jpg" alt="Superfield's website")
			img(data-src="projects/superfield/superfield04.jpg" alt="Superfield's website")
			img(data-src="projects/superfield/superfield05.jpg" alt="Superfield's website")

.section(data-anchor='dynarythmique')
	figure.projectCover.slide.row
		a(href="#dynarythmique/details")
			img.medium-6.large-8.columns(id="dynarythmiqueImg" data-src="stylesheets/dynarythmique_l.png" alt="Dynarythmique")
	#dynarythmiqueInfo.projectAbstract.medium-4.large-3.columns
		h2: span Dynarythmique
		hr
		p It's a 
			strong Prestashop
			|  too made to present children activities and playgrounds by 
			a(href="http://dynarythmique.be") Dynarythmique
			| .
		hr
		a(href="#dynarythmique/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#dynarythmiqueDetails.projectDetails.small-6.medium-2.columns
			h2: span Dynarythmique
			hr
			p 
				a(href="http://dynarythmique.be") Dynarythmique.be
				|  is a Prestashop website with a lot of customization mostly on layered navigation. Indeed, layered navigation on product list filter its suggestion depending on what has been previously selected while taking account of combinations (that's the hard part !), and kept on product page too. This improvements really flow the buying process, and it was really needed for Dynarythmique who ask for child's inscription (which can be an obstacle).
			hr
			a(href="#dynarythmique/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#dynarythmiqueGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/dynarythmique/dynarythmique01.png" alt="Dynarythmique's website")
			img(data-src="projects/dynarythmique/dynarythmique02.png" alt="Dynarythmique's website")
			img(data-src="projects/dynarythmique/dynarythmique03.png" alt="Dynarythmique's website")

.section(data-anchor='pannopaille')
	figure.projectCover.slide.row
		a(href="#pannopaille/details")
			img.medium-6.large-8.columns(id="pannopailleImg" data-src="stylesheets/pannopaille_l.jpg" alt="Pannopaille")
	#pannopailleInfo.projectAbstract.medium-4.large-3.columns
		h2: span Pannopaille
		hr
		p It's a 
			strong Wordpress
			|  website made to present Pannopaille's product (a straw insulation panel, flexible, and easy to work with).
		hr
		a(href="#pannopaille/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#pannopailleDetails.projectDetails.small-6.medium-2.columns
			h2: span Pannopaille
			hr
			p 
				a(href="http://pannopaille.be") Pannopaille.be
				|  is one page Wordpress website with a theme made from scratch by me. There is 3D representation of Pannopaille's product which you can turning around with mouse. A google map (google map API) which is a plugin that I've made. It allows client to add markers and infos from is back-office with specific fields that's is easily understand to promote his product among workers and distributors.
			hr
			a(href="#pannopaille/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#pannopailleGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/pannopaille/pannopaille01.png" alt="Pannopaille's website")
			img(data-src="projects/pannopaille/pannopaille02.png" alt="Pannopaille's website")
			img(data-src="projects/pannopaille/pannopaille03.png" alt="Pannopaille's website")
			img(data-src="projects/pannopaille/pannopaille04.png" alt="Pannopaille's website")
			img(data-src="projects/pannopaille/pannopaille05.png" alt="Pannopaille's website")

.section(data-anchor='lmeStatic')
	figure.projectCover.slide.row
		a(href="#lmeStatic/details")
			img.medium-6.large-8.columns(id="lmeStaticImg" data-src="stylesheets/lmeStatic_l.png" alt="La Maison Ecologique")
	#lmeStaticInfo.projectAbstract.medium-4.large-3.columns
		h2: span La Maison Ecologique
		hr
		p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for 
			strong
				a(href="http://lamaisonecologique.be") lamaisonecologique.be
			| .
		hr
		a(href="#lmeStatic/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#lmeStaticDetails.projectDetails.small-6.medium-2.columns
			h2: span La Maison Ecologique
			hr
			p I've made some enhancement for 
				a(href="http://lamaisonecologique.be") lamaisonecologique.be
				| . Events and animations really improve users experience. I've also added 2 pages 
				a(href="http://lamaisonecologique.be/products") Products
				|  and 
				a(href="http://lamaisonecologique.be/formations") Formations
				|  with auto updated tree-maps as sidebar navigation (there is a loop with facebook to display formations ! ). I've work a lot to display formations in a synthetic/minimalist way.
			hr
			a(href="#lmeStatic/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#lmeStaticGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/lmeStatic/lmeStatic01.png" alt="La Maison Ecologique's website")
			img(data-src="projects/lmeStatic/lmeStatic02.png" alt="La Maison Ecologique's website")
			img(data-src="projects/lmeStatic/lmeStatic03.png" alt="La Maison Ecologique's website")
			img(data-src="projects/lmeStatic/lmeStatic04.png" alt="La Maison Ecologique's website")
			img(data-src="projects/lmeStatic/lmeStatic05.png" alt="La Maison Ecologique's website")
			img(data-src="projects/lmeStatic/lmeStatic06.png" alt="La Maison Ecologique's website")
			img(data-src="projects/lmeStatic/lmeStatic07.png" alt="La Maison Ecologique's website")
			img(data-src="projects/lmeStatic/lmeStatic08.png" alt="La Maison Ecologique's website")
			img(data-src="projects/lmeStatic/lmeStatic09.png" alt="La Maison Ecologique's website")
			img(data-src="projects/lmeStatic/lmeStatic10.png" alt="La Maison Ecologique's website")

.section(data-anchor='lmeShop')
	figure.projectCover.slide.row
		a(href="#lmeShop/details")
			img.medium-6.large-8.columns(id="lmeShopImg" data-src="stylesheets/lmeShop_l.png" alt="La Maison Ecologique - Shop")
	#lmeShopInfo.projectAbstract.medium-4.large-3.columns
		h2: span Shop (LME)
		hr
		p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for 
			strong
				a(href="http://shop.lamaisonecologique.be") shop.lamaisonecologique.be
			| .
		hr
		a(href="#lmeShop/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#lmeShopDetails.projectDetails.small-6.medium-2.columns
			h2: span La Maison Ecologique
			hr
			p 
				a(href="http://shop.lamaisonecologique.be") shop.lamaisonecologique.be
				| . I made my teeth with Prestashop on this project. Front-job like displaying and redesigning. Back-end with 3 modules (that I've created specificly for them) : AskAquote (payment module with conditions, forms, validation), BlockcartAccessories (display accessories of product on cart with settings), Substitutes (display message when product is out of stock and suggest a product of replacement, or simply make redirection).
			hr
			a(href="#lmeShop/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#lmeShopGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/lmeShop/lmeShop01.png" alt="La Maison Ecologique's e-shop")
			img(data-src="projects/lmeShop/lmeShop02.png" alt="La Maison Ecologique's e-shop")
			img(data-src="projects/lmeShop/lmeShop03.png" alt="La Maison Ecologique's e-shop")
			img(data-src="projects/lmeShop/lmeShop04.png" alt="La Maison Ecologique's e-shop")
			img(data-src="projects/lmeShop/lmeShop05.png" alt="La Maison Ecologique's e-shop")
			img(data-src="projects/lmeShop/lmeShop06.png" alt="La Maison Ecologique's e-shop")
			img(data-src="projects/lmeShop/lmeShop07.png" alt="La Maison Ecologique's e-shop")
			img(data-src="projects/lmeShop/lmeShop08.png" alt="La Maison Ecologique's e-shop")

.section(data-anchor='lmeNewsletters')
	figure.projectCover.slide.row
		a(href="#lmeNewsletters/details")
			img.medium-6.large-8.columns(id="lmeNewslettersImg" data-src="stylesheets/lmeNewsletters_l.jpg" alt="La Maison Ecologique - Newsletters")
	#lmeNewslettersInfo.projectAbstract.medium-4.large-3.columns
		h2: span Newsletters (LME)
		hr
		p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for their 
			strong newsletters
			| .
		hr
		a(href="#lmeNewsletters/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#lmeNewslettersDetails.projectDetails.small-6.medium-2.columns
			h2: span Newsletters (LME)
			hr
			p Newsletters was a long design process. And my boss want to keep it short, so we conclude with a template finely tune. Newsletter was birth in a simple process. First, images/thumbnails was made in Photoshop. Second, pics are injected to html. Third, mixing was deploy in mailchimp.
			hr
			a(href="#lmeNewsletters/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#lmeNewslettersGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/lmeNewsletters/lmeNewsletters01.png" alt="La Maison Ecologique's Newsletters")
			img(data-src="projects/lmeNewsletters/lmeNewsletters02.png" alt="La Maison Ecologique's Newsletters")
			img(data-src="projects/lmeNewsletters/lmeNewsletters03.png" alt="La Maison Ecologique's Newsletters")
			img(data-src="projects/lmeNewsletters/lmeNewsletters04.png" alt="La Maison Ecologique's Newsletters")
			img(data-src="projects/lmeNewsletters/lmeNewsletters05.png" alt="La Maison Ecologique's Newsletters")
			img(data-src="projects/lmeNewsletters/lmeNewsletters06.png" alt="La Maison Ecologique's Newsletters")

.section(data-anchor='lmeContest')
	figure.projectCover.slide.row
		a(href="#meContest/details")
			img.medium-6.large-8.columns(id="lmeContestImg" data-src="stylesheets/lmeContest_l.jpg" alt="La Maison Ecologique - Contest")
	#lmeContestInfo.projectAbstract.medium-4.large-3.columns
		h2: span Contest (LME)
		hr
		p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for their 
			strong Facebook contest
			| .
		hr
		a(href="#lmeContest/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#lmeContestDetails.projectDetails.small-6.medium-2.columns
			h2: span Contest (LME)
			hr
			p It was a new experimentation for me. I've created this project from scratch. From my mind, to its distribution (also in my charge). Lots of stuff, long process. Folding was specificly studie to suit the already printed triptic, display clearly information, straight forward message, with visually attratice design. Back side you can see an awesome Qr-code made with lamaisonecologique's logo. That's was the coolest part.
			hr
			a(href="#lmeContest/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#lmeContestGallery.projectGallery.single-item.medium-8.columns
			img(data-src="stylesheets/lmeContest_l.jpg" alt="La Maison Ecologique - Contest")

.section(data-anchor='lmeTruck')
	figure.projectCover.slide.row
		a(href="#lmeTruck/details")
			img.medium-6.large-8.columns(id="lmeTruckImg" data-src="stylesheets/lmeTruck_l.jpg" alt="La Maison Ecologique - Truck")
	#lmeTruckInfo.projectAbstract.medium-4.large-3.columns
		h2: span Truck (LME)
		hr
		p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for their 
			strong truck lettering
			| .
		hr
		a(href="#lmeTruck/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#lmeTruckDetails.projectDetails.small-6.medium-2.columns
			h2: span Truck (LME)
			hr
			p Lettering for their truck, was a nice project with esthetic laws tested. It was a success, message cleary understandable. Keep simple.
			hr
			a(href="#lmeTruck/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#lmeTruckGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/lmeTruck/lmeTruck01.jpg" alt="La Maison Ecologique's truck")
			img(data-src="projects/lmeTruck/lmeTruck02.jpg" alt="La Maison Ecologique's truck")

.section(data-anchor='lmeBanners')
	figure.projectCover.slide.row
		a(href="#lmeBanners/details")
			img.medium-6.large-8.columns(id="lmeBannersImg" data-src="stylesheets/lmeBanners_l.jpg" alt="La Maison Ecologique - Banners")
	#lmeBannersInfo.projectAbstract.medium-4.large-3.columns
		h2: span Banners (LME)
		hr
		p During more than one year, I've worked for La Maison Ecologique as Webmaster, SysAdmin, Communication manager. Here, you can see what I've made for their 
			strong banners
			| .
		hr
		a(href="#lmeBanners/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#lmeBannersDetails.projectDetails.small-6.medium-2.columns
			h2: span Banners (LME)
			hr
			p Just plain ol' banners for their e-shop promotions/events.
			hr
			a(href="#lmeBanners/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#lmeBannersGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/lmeBanners/lmeBanners01.png" alt="La Maison Ecologique's banners")
			img(data-src="projects/lmeBanners/lmeBanners02.png" alt="La Maison Ecologique's banners")
			img(data-src="projects/lmeBanners/lmeBanners03.png" alt="La Maison Ecologique's banners")
			img(data-src="projects/lmeBanners/lmeBanners04.png" alt="La Maison Ecologique's banners")
			img(data-src="projects/lmeBanners/lmeBanners05.png" alt="La Maison Ecologique's banners")
			img(data-src="projects/lmeBanners/lmeBanners06.png" alt="La Maison Ecologique's banners")
			img(data-src="projects/lmeBanners/lmeBanners07.png" alt="La Maison Ecologique's banners")
			img(data-src="projects/lmeBanners/lmeBanners08.png" alt="La Maison Ecologique's banners")

.section(data-anchor='aiku')
	figure.projectCover.slide.row
		a(href="#aiku/details")
			img.medium-6.large-8.columns(id="aikuImg" data-src="stylesheets/aiku_l.jpg" alt="Aïku animation")
	#aikuInfo.projectAbstract.medium-4.large-3.columns
		h2: span Aïku
		hr
		p It's a borderline handmade 
			strong animation
			|  about this aïku : Les lèvres mouillées du jus de pêche blanche, je ris.
		hr
		a(href="#aiku/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#aikuDetails.projectDetails.small-6.medium-2.columns
			h2: span Aïku
			hr
			p Typography, drawing, animation, idea, all made by myself (except music). And I'm a bit proud of it ! (
				a(href="projects/oldPortfolio/psychopart/StomotypeMakingOf.pdf") Making Of
				| ). "Les lèvres mouillées du jus de pêche blanche, je ris."
			hr
			a(href="#aiku/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#aikuGallery.projectGallery.single-item.medium-8.columns
			video(controls="controls")
				source(data-src="projects/aiku/aiku.mp4" type="video/mp4")
				source(data-src="projects/aiku/aiku.webm" type="video/webm")
				source(data-src="projects/aiku/aiku.ogv" type="video/ogg")
				object(type="application/x-shockwave-flash" width="500" height="281" data="http://player.vimeo.com/video/48201205")
					param(name="movie" value="http://player.vimeo.com/video/48201205")
					param(name="wmode" value="transparent")

.section(data-anchor='oldPortfolio')
	figure.projectCover.slide.row
		a(href="#oldPortfolio/details")
			img.medium-6.large-8.columns(id="oldPortfolioImg" data-src="stylesheets/portfolioV1_l.jpg" alt="Old portfolio")
	#oldPortfolioInfo.projectAbstract.medium-4.large-3.columns
		h2: span Portfolio
		hr
		p It's my 
			strong portfolioV1.0
			| . Made during school years in AS3 with a glitch aesthetics which you can play with it.
		hr
		a(href="#oldPortfolio/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#oldPortfolioDetails.projectDetails.small-6.medium-2.columns
			h2: span Portfolio
			hr
			p Old Portfolio in AS3, with glitch aspect. You can play with it. I really like to display works using background. You can get an overview of previous work too. (
				a(href="projects/oldPortfolio/psychopart/CharteGraphiqueTFA.pdf") Graphic Charter
				| ).
			hr
			a(href="#oldPortfolio/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#oldPortfolioGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/oldPortfolio/oldPortfolio01.png" alt="OldPortfolio's screenshot")
			img(data-src="projects/oldPortfolio/oldPortfolio02.png" alt="OldPortfolio's screenshot")
			img(data-src="projects/oldPortfolio/oldPortfolio03.png" alt="OldPortfolio's screenshot")
			img(data-src="projects/oldPortfolio/oldPortfolio04.png" alt="OldPortfolio's screenshot")

.section(data-anchor='aiki')
	figure.projectCover.slide.row
		a(href="#aiki/details")
			img.medium-6.large-8.columns(id="aikiImg" data-src="stylesheets/aiki_l.jpg" alt="Aïki advertising")
	#aikiInfo.projectAbstract.medium-4.large-3.columns
		h2: span Aïki
		hr
		p It's an 
			strong animation
			|  for Aïki pasta, totally made in AS3 script (with graphic elements).
		hr
		a(href="#aiki/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#aikiDetails.projectDetails.small-6.medium-2.columns
			h2: span Aïki
			hr
			p I made this for a real job, for an Aïki's event. It totally animated in AS3 script. Using Flash CS5 IDE and Tweenings from Greensock.
			hr
			a(href="#aiki/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#aikiGallery.projectGallery.single-item.medium-8.columns
			video(controls="controls")
				source(data-src="projects/aiki/aiki.mp4" type="video/mp4")
				source(data-src="projects/aiki/aiki.webm" type="video/webm")
				source(data-src="projects/aiki/aiki.ogv" type="video/ogg")
				object(type="application/x-shockwave-flash" width="500" height="281" data="http://www.youtube.com/embed/P-Abior4XFE")
					param(name="movie" value="http://www.youtube.com/embed/P-Abior4XFE")
					param(name="wmode" value="transparent")

.section(data-anchor='musivation')
	figure.projectCover.slide.row
		a(href="#musivation/details")
			img.medium-6.large-8.columns(id="musivationImg" data-src="stylesheets/android_l.jpg" alt="Musivation android app")
	#musivationInfo.projectAbstract.medium-4.large-3.columns
		h2: span Musivation
		hr
		p It's an 
			strong Android app
			|  about fitness motivation. Coming Soon on Android Market.
		hr
		a(href="#musivation/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#musivationDetails.projectDetails.small-6.medium-2.columns
			h2: span Musivation
			hr
			p I made this application to boost myself in fitness and android development. The real difficulty is to transform a mobile device into a pedometer without using GPS to help. I'm currently testing it, but an alpha version is already available 
				a(href="projects/musivation/Musivation.apk.zip") here
				| .
			hr
			a(href="#musivation/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#musivationGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/musivation/musivation01.jpg" alt="Musivation android app")
			img(data-src="projects/musivation/musivation02.jpg" alt="Musivation android app")
			img(data-src="projects/musivation/musivation03.jpg" alt="Musivation android app")

.section(data-anchor='bohren')
	figure.projectCover.slide.row
		a(href="#bohren/details")
			img.medium-6.large-8.columns(id="bohrenImg" data-src="stylesheets/bohren_l.jpg" alt="Bohren's website")
	#bohrenInfo.projectAbstract.medium-4.large-3.columns
		h2: span Bohren
		hr
		p 
			strong Bohren und der Club of Gore's website
			|  is fully made using EM units rather than PX.
		hr
		a(href="#bohren/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#bohrenDetails.projectDetails.small-6.medium-2.columns
			h2: span Bohren
			hr
			p It's my first experiment with EM units. Only index, gore story and disgoregraphy pages are available. (
				a(href="projects/bohren/BohrenGraphicCharter.pdf") Graphic Charter
				| ).
			hr
			a(href="#bohren/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#bohrenGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/bohren/bohren01.jpg" alt="Bohren's website")
			img(data-src="projects/bohren/bohren02.jpg" alt="Bohren's website")
			img(data-src="projects/bohren/bohren03.jpg" alt="Bohren's website")

.section(data-anchor='whourkr')
	figure.projectCover.slide.row
		a(href="#whourkr/details")
			img.medium-6.large-8.columns(id="whourkrImg" data-src="stylesheets/whourkr_l.jpg" alt="Whourkr's website")
	#whourkrInfo.projectAbstract.medium-4.large-3.columns
		h2: span Whourkr
		hr
		p
			strong Whourkr's website
			|  made using grid system framework, HTML5 and CSS3.
		hr
		a(href="#whourkr/details").goForward.arrows
			i.fa.fa-long-arrow-right(aria-hidden="true")
	.slide.row(data-anchor='details')
		#whourkrDetails.projectDetails.small-6.medium-2.columns
			h2: span Whourkr
			hr
			p It's a website made in a traditional way using a 960 grid system framework, HTML5 and CSS3 animation.
			hr
			a(href="#whourkr/").goBackward.arrows
				i.fa.fa-long-arrow-left(aria-hidden="true")
		#whourkrGallery.projectGallery.single-item.medium-8.columns
			img(data-src="projects/whourkr/whourkr01.jpg" alt="Whourkr's website")
			img(data-src="projects/whourkr/whourkr02.jpg" alt="Whourkr's website")
			img(data-src="projects/whourkr/whourkr03.jpg" alt="Whourkr's website")

//- ul.hide
//- 	li: button.bgArrow.active
//- 	li: button.linkStyle.toggleGo &gt;
//- 	li: button.linkStyle.toggleBack.hide &lt;